<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Admin TUPUCA</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- site icon -->
  <link rel="icon" href="images/fevicon.png" type="image/png" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
  <!-- site css -->
  <link rel="stylesheet" href="admin/style.css" />
  <!-- responsive css -->
  <link rel="stylesheet" href="admin/css/responsive.css" />
  <!-- color css -->
  <link rel="stylesheet" href="admin/css/color_2.css" />
  <!-- select bootstrap -->
  <link rel="stylesheet" href="admin/css/bootstrap-select.css" />
  <!-- scrollbar css -->
  <link rel="stylesheet" href="admin/css/perfect-scrollbar.css" />
  <!-- custom css -->
  <link rel="stylesheet" href="admin/css/custom.css" />
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="dashboard dashboard_1">
<div class="full_container">
  <div class="inner_container">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar_blog_1">
        <div class="sidebar-header">
          <div class="logo_section">
            <a href="admin"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
          </div>
        </div>
        <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
            <div class="user_img"><img class="img-responsive" th:src="@{images/upload/shop/{image}(image=${shop.photos})}" alt="#" /></div>
            <div class="user_info">
              <h6 th:text="${shop.name}">John David</h6>
              <p><span class="online_animation"></span> Online</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar_blog_2">
        <h4>Geral</h4>
        <ul class="list-unstyled components">
          <li>
            <a href="#produto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cart-plus blue1_color"></i> <span>Produtos</span></a>
            <ul class="collapse list-unstyled" id="produto">
              <li><a href="productList">> <span>Listar produtos</span></a></li>
              <li><a href="addProductForm">> <span>Cadastrar produtos</span></a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="fa fa-cog red_color"></i> <span>Sair</span></a></li>
        </ul>
      </div>
    </nav>
    <!-- end sidebar -->
    <!-- right content -->
    <div id="content">
      <!-- topbar -->
      <div class="topbar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="full">
            <div class="logo_section">
              <div class="user_info">
                <h6>TUPUCA ONLINE </h6>
                <p><span class="online_animation"></span> Shop</p>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- end topbar -->
      <!-- dashboard inner -->
      <div class="midde_cont">
        <div class="container-fluid">
          <div class="row column_title">
            <div class="col-md-12">
              <div class="page_title">
                <h2>Painel</h2>
              </div>
            </div>
          </div>

          <!-- dashboard inner -->
          <div class="midde_cont">
            <div class="container-fluid">
              <div class="row column_title">
                <div class="col-md-12">
                  <div class="page_title">
                    <h2>Produtos</h2>
                  </div>
                </div>
              </div>
              <!-- row -->
              <div class="row column1">
                <div class="col-md-12">
                  <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                      <div class="heading1 margin_0">
                        <h2>Produtos</h2>
                      </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                      <div class="row">
                        <!-- column contact -->
                        <div th:each="products: ${products}"
                             class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                          <div class="contact_blog">
                            <h4 th:text="${products.amount}" class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3 th:text="${products.name}"></h3>
                                <ul class="list-unstyled">
                                  <li><i class="fa fa-usd"></i> : <span th:text="${products.price}"></span> kz</li>
                                  <li><i class="fa fa-shopping-cart"></i> : <span th:text="${products.shop.name}"></span></li>
                                  <li><i class="fa fa-map-marker"></i> : <span th:text="${products.shop.address.country}"></span></li>
                                  <li><i class="fa fa-newspaper-o"></i> : <span th:text="${products.description}"></span></li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img class="img-responsive" th:src="@{images/upload/product/{image}(image=${products.photos})}" alt="#">
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="right_button">
                                  <button type="button" class="btn btn-danger btn-xs"> <i class="fa fa-trash">
                                  </i> <i class="fa fa-shopping-bag yellow_color"></i>
                                  </button>
                                  <a th:href="@{edit/{id}(id=${products.id})}">
                                  <button type="button" class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"> </i> Editar
                                  </button>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
<!-- And -->
                        <!-- footer -->
        <div class="container-fluid">
          <div class="footer">
            <p>Copyright © 2023 Designed by html.design. All rights reserved.<br><br>
              Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
            </p>
          </div>
        </div>
      </div>
      <!-- end dashboard inner -->
    </div>
  </div>
</div>
<!-- jQuery -->
<script src="admin/js/jquery.min.js"></script>
<script src="admin/js/popper.min.js"></script>
<script src="admin/js/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="admin/js/animate.js"></script>
<!-- select country -->
<script src="admin/js/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="admin/js/owl.carousel.js"></script>
<!-- chart js -->
<script src="admin/js/Chart.min.js"></script>
<script src="admin/js/Chart.bundle.min.js"></script>
<script src="admin/js/utils.js"></script>
<script src="admin/js/analyser.js"></script>
<!-- nice scrollbar -->
<script src="admin/js/perfect-scrollbar.min.js"></script>
<script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
<!-- custom js -->
<script src="js/custom.js"></script>
<script src="js/chart_custom_style1.js"></script>
</body>
</html>